@font-face {
  font-family: 'Cascadia Code';
  src: url('/Newspaper/components/Cascadia Code Font/CascadiaCode.ttf') format('truetype');
}

body {
  font-family: 'Cascadia Code', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  background-image: url('../images/fondo.jpg');

  background-size: cover;

  background-attachment: fixed;

}

main {
  background-color: #FDC5F5;
}

header {
  color: black;
  background-color: #72DDF7;
}

nav {
  background-color: #F7AEF8;

}

aside {
  background-color: #F7AEF8;
  float: right;
  width: 244px;
}

footer {
  background-color: #72DDF7;

}

.fotos {
  border: 2px solid;
  color: black;
}

.pagina {
  width: 1600px;
  margin: auto;
}
